<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap" rel="stylesheet">
    <title>RAIOS</title>
</head>

<body>
    <h1>RAIOS QUE O PARTA</h1>
    <div class="butoes" ng-app="" ng-init="myCol='lightblue'">
        <input type="range" id="myRange1" value="50" onchange="myFunction()"  ng-model="myCol1">
        <input type="range" id="myRange2" value="50" onchange="myFunction()"  ng-model="myCol2">
        <input type="range" id="myRange3" value="50" onchange="myFunction()"  ng-model="myCol3">
        <input type="range" id="myRange4" value="50" onchange="myFunction()"  ng-model="myCol4">
        <div class="aqui" style="border-radius: {{myCol1}}% {{myCol2}}% {{myCol3}}% {{myCol4}}%">
        </div>
        <table style="width: 600px; margin: auto; margin-top: 5%; font-size: 20px;">
            <tr>
                <th>border-radius:</th>
                <td ng-bind="myCol1"></td>
                <td ng-bind="myCol2"></td>
                <td ng-bind="myCol3"></td>
                <td ng-bind="myCol4"></td>
                <td><button type="submit" onclick="copiar()" on>copiar</button></td>
            </tr>
        </table>
    </div>
    <script src="scripts.js"></script>
</body>
</html>