<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta type="author" content="Timóteo Mendonça Neto">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap" rel="stylesheet">
    <title>Raios</title>
</head>

<body>
    <div class="topo">
        <!--<h1>NÃO HÁ RAIOS QUE O PARTA</h1>-->
        <h1>Não há raios que o parta</h1>
    </div>
    <div>
        <div class="corpo" ng-app="" ng-init="myCol='lightblue'">

            <div class="aqui" style="border-radius: {{myCol1}}% {{myCol2}}% {{myCol3}}% {{myCol4}}%"></div>
            <div class="butoes" >
                <input class="but" type="range" id="myRange1" value="50" onchange="myFunction()"  ng-model="myCol1">
                <input class="but" type="range" id="myRange2" value="50" onchange="myFunction()"  ng-model="myCol2">
                <input class="but" type="range" id="myRange4" value="50" onchange="myFunction()"  ng-model="myCol4">    
                <input class="but" type="range" id="myRange3" value="50" onchange="myFunction()"  ng-model="myCol3">
                
            </div>
            
            <div class="base">
                <table class="tab">
                    <tr>
                        <th>border-radius:</th>
                        <td ng-bind="myCol1"></td>
                        <td ng-bind="myCol2"></td>
                        <td ng-bind="myCol3"></td>
                        <td ng-bind="myCol4"></td>
                        <td><button type="submit" onclick="copiar()" on>ctrl+c</button></td>
                    </tr>
                </table>
            </div>
        </div>
        
    </div>

    <script src="scripts.js"></script>
</body>
</html>