*{
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin:0; 	
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:  darkblue;
}
.topo{
    width: 900px;
    margin: auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;

    border-radius: 10px;
}
.corpo{

    width: 900px;
    margin: auto;
}
.aqui{
    width: 300px;
    height: 300px;
    border: 3px solid darkblue;
    margin: auto;
    margin-top: 5%;
}
.butoes{

    width: 900px;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;

    border-radius: 10px;
}
.base{
    width: 900px;
    margin: auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;

    border-radius: 10px;
}
table{
    width: 400px;
    font-size: 20px;
    margin: auto;

}

.but{
    -webkit-appearance: none;
    background: #d3d3d3;
    outline: none;

    height: 20px;
    border-radius: 9px;   
}
.but::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 

    background: #0c5c9e;
    cursor: pointer;
}
@media(max-width:800px){
    .butoes, .topo, .base, .corpo{
        width: 300px;
    }
    .aqui{
        width: 150px;
        height: 150px;
    }
    .tab{
        width: 200px;
        font-size: 15px;
    }
    .but{
        margin-top: 4%;
    }
}
